@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@layer components {
	.arrow-top:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100px; /* Control the height of your arrow */
		background: inherit;
		transform: skewY(-6deg);
		transform-origin: top left;
	}
	.arrow-top:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100px; /* Control the height of your arrow */
		background: inherit;
		transform: skewY(6deg);
		transform-origin: top right;
	}
}

@layer utilities {
	.masonry-grid {
		column-count: 3;
		column-gap: 1.5rem;
	}

	.masonry-item {
		break-inside: avoid;
		margin-bottom: 1.5rem;
	}

	@media (max-width: 900px) {
		.masonry-grid {
			column-count: 2;
		}
	}

	@media (max-width: 600px) {
		.masonry-grid {
			column-count: 1;
		}
	}
}
